@import "./base/_variables.scss";
.inicio{
    .carousel-inner{
        height: 100vh;
        .carousel-item{
            background-size: cover;
        }
        
        .carousel-item > div{
            height: 100vh;
            width: auto;
            @include flexbox (column, center, center);

            .hero-headline{
                color: map-get($map: $colores, $key:"texto" );                
                margin-bottom: 30px;
                text-transform: uppercase;
                font-family: $fuente-principal;
            }

            .hero-subhead{
                text-transform: uppercase;
                font-size: 16px;

                .boton_inicio{
                    text-decoration: none;
                    color: map-get($map: $colores, $key: "texto");
                    background-color: map-get($map: $colores, $key: "principal");
                    padding: 10px;
                }
            }
        }

        
    }
}

@include mediaQuery (tablet){
    .inicio{
        .carousel-inner{
            
            .carousel-item{
                background-size: cover;
                background-position: center;
            }
            
        }
    }
}