 @media only screen and (min-width: 768px) {
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
     }
     body{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     }


   .body {
     display: grid;
    grid-template-columns: 1fr repeat(4, 0);
    grid-template-rows: 0.1fr repeat(2, 0) 1fr 0.27fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
                
    .contenedor { grid-area: 1 / 1 / 2 / 6; }
    .mainBg { grid-area: 2 / 1 / 5 / 6; }
    .footer { grid-area: 5 / 1 / 6 / 6; }
    
    
     header{
        background-color: rgb(0, 0, 0);
     }
     .logo{
        width: 250px;
        height: 120px;
        margin-top: -30px;
        
     }
     
     .color{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
     }
     
     
     .header__menu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
     }

     .header__menu li{
        transition: transform 1s, background 2s;
    }
    .header__menu li:hover{
        transform: scale(1.1);
    }

    .header__menu li .hover:hover{
       background-color: #fa0101;
       padding: 10px;
       border-radius: 3px;
       transition: transform 1s, background 2s;
       transform: scale(1.1);
       
    }
     
     .inicio{
        background-image: url(../imagenes/inicio3.jpg);
        position:relative;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
     }
     
     .contenedor1{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: white;
        text-transform: uppercase;
        flex-direction: column;
        
     }
     .h1_index{
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
     }
     
     .boton_inicio{
        background-color: red;
        padding: 12px;
        color: white;
        margin-top: 20px;
     }

     .boton__inicio:hover{
        transform: scale(1.5);
        transition: transform 2s;
     }
     
     .footer{
        background-color: black;
        color: white;
     }
    
     .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr) repeat(2, 0);
        grid-template-rows: repeat(2, 1fr) repeat(3, 0);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .card { grid-area: 1 / 1 / 2 / 2; }
        .card { grid-area: 1 / 2 / 2 / 3; }
        .card { grid-area: 1 / 3 / 2 / 4; }
        .card { grid-area: 2 / 1 / 3 / 2; }
        .card { grid-area: 2 / 2 / 3 / 3; }
        .card { grid-area: 2 / 3 / 3 / 4; }
     .container{
        width: 100%;
        max-width: 1200px;
        height: 430px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-top: ;
 
    }
    .container .card{
        width: 330px;
        height: 430px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
 
    }
    .container .card:hover{
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0,0,0,0.2);
    }
 
    .container .card h4{
        font-weight: 600;
        text-transform: uppercase;
    
     }
     .container .card p{
         padding: 0 1rem;
         font-size: 16px;
         font-weight: 300;
     }
    
    .imgClases{
        width: 400px;
        height: auto;
    }

    

        .container-body {
            display: grid;
            grid-template-columns: 0 0.5fr 0 repeat(2, 1fr);
            grid-template-rows: 0.5fr repeat(3, 0) 0.1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            
            .primer-columna { grid-area: 1 / 2 / 2 / 3; }
            .tercer-columna { grid-area: 1 / 4 / 2 / 5; }
            .segunda-columna { grid-area: 1 / 5 / 2 / 6; }
            .copyright { grid-area: 5 / 2 / 6 / 6; }
     .container-body{
        display: flex;
        justify-content: center;
        
     }
     
     .primera-columna{
        display: flex;
        flex-direction: column;
        margin-right: 20px;
     }

     .parrafo{
         width: 300px;
     }
     .tercer-columna{
        display: flex;
        flex-direction: column;
        justify-content: center;
     }
     
     .filas2, .mail{
        display: flex;
        align-items: center;
        color: white;
     }
     .segunda-columna{ 
        display: flex;
        flex-direction: column;
        align-items: center;

     }
     
     .copyright{
        display: flex;
        justify-content: center;
        margin-top: 20px;
     }
     h4{
        color: red;
        margin: 20px;
        text-align: center;
     }
     .iconitos{
        width: 50px;
     }
     
     
   
   .mainBg{
    background-color: #D6DAD8;
    background-size: cover;
    position: relative;
    padding-top: 30px;
    padding-bottom: 100px;
    
    }    
    
    
    .h1centrado{
        display: flex;
        justify-content: center;
        color: red;
        text-transform: uppercase;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
        font-style: italic;
        
    }

    


    .centrar__h1{
        display: flex;
        justify-content: center;
        color: red;
        text-transform: uppercase;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
        font-style: italic;
    }
    .primerVideos{
        display: flex;
        justify-content: center;
    }
    .segundosVideos{
        display: flex;
        justify-content: center;
    }
    .espaciado{
        margin: 20px;
    }


    .acerca__de{
        display: flex;
        
    }

    .izquierda{
        padding: 60px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .imagenHistoria{
        width: 500px;
        margin: 30px;
        border-radius: 5px;
        margin-top: 50px;
        margin-left: 60px;
    }
    .contact-wrapper > * {
        padding: 1em;
    }
    .contact-form {
        background: #222222;
    }
    .contact-form form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contact-form form label {
        display: block;
    }
    .contact-form form p {
        margin: 0;
        padding: 1em;
    }
    .contact-form form .block {
        grid-column: 1 / 3;
    }
    .contact-form form button, .contact-form form input, .contact-form form textarea {
        width: 100%;
        padding: .7em;
        border: none;
        background: none;
        outline: 0;
        color: #fff;
        border-bottom: 1px solid #d63031;
    }
    .contact-form form button {
        background: #B70E21;
        border: 0;
        text-transform: uppercase;
        padding: 1em;
    }
    .contact-form form button:hover, .contact-form form button:focus {
        background: #d63031;
        color: #fff;
        transition: background-color 1s ease-out;
        outline: 0;
    }

    .content{
        color: white;
        align-items: center;
        margin-left: 300px;
        margin-right: 300px;
    }

    .activado{
        background-color: grey;
        padding: 10px;
        border-radius: 5px;
        transform: scale(1.1);
    }
    .clasesBg{
        background-color: #D6DAD8;
        padding: 10px;
        border-radius: 5px;
    }
    
    .rutinas{
        background-color: grey;
        padding: 10px;
        border-radius: 5px;
    }
    .sobreNosotros{
        background-color: grey;
        padding: 10px;
        border-radius: 5px;
    }
    .contacto{
        background-color: grey;
        padding: 10px;
        border-radius: 5px;
    }
    
    @media only screen and (min-width:769px;) {
        .contact-wrapper > * {
            padding: 1em;
        }
        .contact-form {
            background: #222222;
            
        }
        .contact-form form {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .contact-form form label {
            display: block;
        }
        .contact-form form p {
            margin: 0;
            padding: 1em;
        }
        .contact-form form .block {
            grid-column: 1 / 3;
        }
        .contact-form form button, .contact-form form input, .contact-form form textarea {
            width: 100%;
            padding: .7em;
            border: none;
            background: none;
            outline: 0;
            color: #fff;
            border-bottom: 1px solid #d63031;
        }
        .contact-form form button {
            background: #B70E21;
            border: 0;
            text-transform: uppercase;
            padding: 1em;
        }
        .contact-form form button:hover, .contact-form form button:focus {
            background: #d63031;
            color: #fff;
            transition: background-color 1s ease-out;
            outline: 0;
        }
    
        .content{
            color: white;
            align-items: center;
            margin-left: 300px;
            margin-right: 300px;
            width: 700px;    
        }


        
        
    }
        













    }
 
    
 
 

    




















@media only screen and (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
   }

   
     
   .container {
    display: grid;
    grid-template-columns: 1fr repeat(4, 0);
    grid-template-rows: repeat(3, 1fr) repeat(2, 0);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .card { grid-area: 1 / 1 / 2 / 2; }
    .card { grid-area: 2 / 1 / 3 / 2; }
    .card { grid-area: 3 / 1 / 4 / 2; }
 .container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: ;

}
.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;

}
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.container .card h4{
    font-weight: 600;
    text-transform: uppercase;

 }
 .container .card p{
     padding: 0 1rem;
     font-size: 16px;
     font-weight: 300;
 }

.imgClases{
    width: 400px;
    height: auto;
}

   .color{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
 }
    body{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
    header{
        background-color: black;
        width: 100%;
   }
    .logo{
        display: flex;
        justify-content: center;
        height: 7em;
        text-align: center;
        margin-top: -30px;
   }

    

    .header__menu{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center; 
        transition: 1s;
        }
    .iconitos{
        width: 60px;
   }
   
    .enlace{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: auto
   }
    .color{
        text-decoration: none;
        list-style: none;
        color: white;
        display: flex;
        padding: 10px;
   }
    li a{
        display: flex;
        flex-direction: column;
   }
    .inicio{
        background-image: url(../imagenes/inicio3.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
   }
    .contenedor1{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        height: 100vh;
        text-transform: uppercase;
        align-content: center;
        flex-wrap: wrap;
   }
    .boton_inicio{
        background-color: red;
        padding:10px;
        color:white;
        border-radius: 2px;
        margin-top: 20px;
   }
    .footer{
        background-color: black;
        color: white;
        
   }
    .container-body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr) 0.5fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
   }
    .primera-columna {
        grid-area: 1 / 3 / 2 / 4;
   }
    .tercer-columna {
        grid-area: 2 / 3 / 3 / 4;
   }
    .segunda-columna {
        grid-area: 3 / 3 / 4 / 4;
   }
    .copyright {
        grid-area: 4 / 3 / 5 / 4;
   }
    .primera-columna{
        text-align: center;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
        margin-bottom: 10px;
   }
    .segunda-columna{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-bottom: 10px;
   }
    .filas{
        display: flex;
        justify-content: center;
   }
    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
   }
    .tercer-columna{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
   }
    .filas2{
        display: flex;
        align-items: center;
        justify-content: center;
   }
    .mail{
        color: white;
        display: flex;
        align-items: center;
   }
    h4{
        color: red;
   }
    .mainBg{
        background-color: #D6DAD8;
        background-size: cover;
        position: relative;
        padding-bottom: 100px;
   }
    .centrar__h1, .h1centrado{
        display: flex;
        justify-content: center;
        color: red;
        text-transform: uppercase;
        text-align: center;
        padding: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 

   }

   
    .espaciado{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
   }
    .izquierda{
        text-align: center;
        margin: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
   }
    .imagenHistoria{
        display: flex;
        justify-content: center;
        width: 90%;
        border-radius: 5px;
        padding-top: 20px;
   }
    .imagen_Historia{
        display: flex;
        justify-content: center;
   }
    .contact-wrapper > * {
        padding: 1em;
   }
    .contact-form {
        background: #222222;
   }
    .contact-form form {
        display: grid;
        grid-template-columns: 1fr 1fr;
   }
    .contact-form form label {
        display: block;
   }
    .contact-form form p {
        margin: 0;
        padding: 1em;
   }
    .contact-form form .block {
        grid-column: 1 / 3;
   }
    .contact-form form button, .contact-form form input, .contact-form form textarea {
        width: 100%;
        padding: .7em;
        border: none;
        background: none;
        outline: 0;
        color: #fff;
        border-bottom: 1px solid #d63031;
   }
    .contact-form form button {
        background: #B70E21;
        border: 0;
        text-transform: uppercase;
        padding: 1em;
   }
    .contact-form form button:hover, .contact-form form button:focus {
        background: #d63031;
        color: #fff;
        transition: background-color 1s ease-out;
        outline: 0;
   }
    .content{
        color: white;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;

    

    

    .color{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
     }
   }

  

   @media only screen and (min-width: 767px) {
   


        .footer {
            display: grid;
            grid-template-columns: repeat(3, 0.7fr) repeat(2, 0);
            grid-template-rows: 0.4fr 0.27fr repeat(3, 0);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            
            .primera-columna { grid-area: 1 / 1 / 2 / 2; }
            .tercer-columna { grid-area: 1 / 2 / 2 / 3; }
            .segunda-columna { grid-area: 1 / 3 / 2 / 4; }
            .copyright { grid-area: 2 / 1 / 3 / 4; }


            .container-body{
                display: flex;
                justify-content: center;
                
             }
             
             .primera-columna{
                display: flex;
                flex-direction: column;
                margin-right: 20px;
                margin-top: -35px;
             }
        
             .parrafo{
                 width: 300px;
             }
             .tercer-columna{
                display: flex;
                flex-direction: column;
                justify-content: center;
             }
             
             .filas2, .mail{
                display: flex;
                align-items: center;
                color: white;
             }
             .segunda-columna{ 
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: -22px;
             }
             
             .copyright{
                display: flex;
                justify-content: center;
                margin-top: 20px;
             }
   }        



   
    