 .navBar1{
     display: flex;
     justify-content: flex-end;    
     transition: 2s;
 }
 
.navbar-brand{
    text-transform: uppercase;
    font-size: 24px;
    font-style: italic;  
}
.rojo{color: red;}
.iconitos{width: 20px;}

.navBar1 .nav-link:hover{
    background-color: red;
    border-radius: 3px;
    transform: scale(1.1);
    transition: transform, background-color 1.5s;
}

.nav-link{margin: 15px;}
.headerInicio{background-color: black;}
.navbar-toggler{background-color: red;}

.carousel-caption h1{
    
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-style: italic;
}

.boton_inicio{
    
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px;
}


.container-body {
    display: grid;
    grid-template-columns: 0 0.5fr 0 repeat(2, 1fr);
    grid-template-rows: 0.5fr repeat(3, 0) 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .primer-columna { grid-area: 1 / 2 / 2 / 3; }
    .tercer-columna { grid-area: 1 / 4 / 2 / 5; }
    .segunda-columna { grid-area: 1 / 5 / 2 / 6; }
    .copyright { grid-area: 5 / 2 / 6 / 6; }
.container-body{
display: flex;
justify-content: center;

}

.primera-columna{
display: flex;
flex-direction: column;
margin-right: 20px;
}

.parrafo{
 width: 300px;
}
.tercer-columna{
display: flex;
flex-direction: column;
justify-content: center;
}

.filas2, .mail{
display: flex;
align-items: center;
color: white;
}
.segunda-columna{ 
display: flex;
flex-direction: column;
align-items: center;

}

.copyright{
display: flex;
justify-content: center;
margin-top: 20px;
}
h4{
color: red;
margin: 20px;
text-align: center;
}
.iconitos{
width: 50px;
}
.footer{
    background-color: black;
    color: white;
}


a{
    text-decoration: none;
    color: white;
}



@media only screen and (max-width: 768px) {

    .container-body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr) 0.5fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
   }
    .primera-columna {
        grid-area: 1 / 3 / 2 / 4;
   }
    .tercer-columna {
        grid-area: 2 / 3 / 3 / 4;
   }
    .segunda-columna {
        grid-area: 3 / 3 / 4 / 4;
   }
    .copyright {
        grid-area: 4 / 3 / 5 / 4;
   }
    .primera-columna{
        text-align: center;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
        margin-bottom: 10px;
   }
    .segunda-columna{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-bottom: 10px;
   }
    .filas{
        display: flex;
        justify-content: center;
   }
    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
   }
    .tercer-columna{
        display: flex;
        justify-content: center;
        text-align:start
        flex-direction: column;
        
   }
    .filas2{
        display: flex;
        align-items: center;
        justify-content: center;
   }
    .mail{
        color: white;
        display: flex;
        align-items: center;
   }
    h4{color: red;}
   
    
}