@import "./_variables.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bodyBg{
    background-color:#222222fd;
    
}
// Nav
.headerInicio{
    background-color: map-get($map: $colores, $key:"secundario" );

    .container-fluid{
    

        .navbar-brand{
            text-transform: uppercase;
            font-size: 24px;
            font-style: italic; 
    
            span{
                color: map-get($map: $colores, $key:"principal" );
            }
        }

        .navbar-toggler{
            background-color: map-get($map: $colores, $key:"principal" );
        }
    
    
        .navbar-nav{
            display: flex;
            align-items: center;
    
            .nav-item{
    
                .nav-link{
                    margin: 15px; 
                    text-transform: uppercase; 
                }
            }
        }
    
    }
}


// footer

.pie-pagina{
    width: 100%;
    background-color: map-get($map: $colores, $key:"secundario" );
    justify-content: center;
    align-items: center;
    
    

    .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:50px;
        padding: 45px 0px;
        justify-content: center;
        align-items: center; 

        .box{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            figure{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                a{
                    color: map-get($map: $colores, $key:"texto" );
                    text-transform: uppercase;
                    font-style: italic;
                    font-size: 24px;

                    span{
                        color: map-get($map: $colores, $key:"principal" );
                    }
                }
            }

            h2{
                color: map-get($map: $colores, $key:"principal" );
                margin-bottom: 25px;
                font-size: 20px;
            }

            p{
                color: map-get($map: $colores, $key: "texto");
                margin-bottom: 10px;
            }
        }


        .red-social{

            a{
                display: inline-block;
                text-decoration: none;
                width: 45px;
                height: 45px;
                line-height: 45px;
                color: map-get($map: $colores, $key:"principal" );
                margin-right: 10px;
                background-color: rgb(16, 16, 16);
                text-align: center;
                transition: all 300ms ease;


                &:hover{
                    color: rgb(171, 50, 43);
                }
            }
        }
    }


    .grupo-2{
        background-color: rgb(16, 16, 16);
        padding: 15px 10px;
        text-align: center;
        color: map-get($map: $colores, $key:"texto"); 

        small{
            font-size: 15px; 
        }
    }
}

@media only screen and (max-width: 768px){
    .pie-pagina {

        .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
        }
    }


    .headerInicio{    
        .container-fluid{
            .navbar-brand{
                font-size: 20px;
            }
        }
    }
}


.fa-solid{
    color: map-get($map: $colores, $key:"principal" );
}