@import "../base/_variables.scss";

.inicio{
    .centrar__h1{
        @extend %titulo;

       h1{
        font-size: 60px;
       }
    }
    

    .actividades{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 10px;
        padding-bottom: 30px;

        
        
        .tarjetas{
            width: 400px;
            height: 300px;
            border-radius: 10px;

            

            .contenido{
                opacity: 0;
                width: 400px;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
            }

            .contenido:hover{
                opacity: 1;
                background-color: rgba(255, 0, 0, 0.47);
                color: white;
                text-transform: uppercase;
                font-family: $fuente-principal;
                font-size: 32px;
                transition: 1.3s;
                transition: background-color 1.5s;
            }

            a{
                text-decoration: none;
            }


            
            
        }

        .boxeo{
        @extend %clases;
        background-image: url(../../imagenes/boxeo.jpg);
        }

        .crossfit{
            @extend %clases;    
            background-image: url(../../imagenes/crossfit.jpg);
           

        }

        .spinning{
            @extend %clases;
            background-image: url(../../imagenes/spinning.jpg);
    
        }
        
        .zumba{
            @extend %clases;
            background-image: url(../../imagenes/zumba.jpg);
    
        }
        
        .gimnasio{
            @extend %clases;
            background-image: url(../../imagenes/gym.jpeg);
    
        }
        
        
        .football{
            @extend %clases;
            background-image: url(../../imagenes/football.jpeg);
    
        }

        
    }

    

    
}

@include mediaQuery (tablet){
    .inicio{
        .centrar__h1{
           h1{
            font-size: 50px;
           }
        }
        
    
        .actividades{
            .tarjetas{
                
                width: 300px;
                height: 300px;
                .contenido{
                    width: 300px;
                    height: 300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    opacity: 1;
                    background-color: rgba(255, 0, 0, 0.47);
                    color: map-get($map: $colores, $key: "texto" );
                    text-transform: uppercase;
                    font-family: $fuente-principal;
                    font-size: 32px;
                    transition: 1.3s;
                    transition: background-color 1.5s;
                }
    
            }
    
            .boxeo{
            }
    
            .crossfit{
            }
    
            .spinning{
            }
            
            .zumba{
            }
            
            .gimnasio{
            }
            
            
            .football{
            }
    
            
        }
    
    }
}


